<h1 class="header">ADP Users</h1>

<input class="filter-input" matInput placeholder="Filter" value="" (keydown)="searchForUser($event)">

<mat-accordion *ngIf="users.length > 0">
  <mat-expansion-panel hideToggle *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Street: {{user.address.street}}</p>
    <p>Suite: {{user.address.suite}}</p>
    <p>City: {{user.address.city}}</p>
    <p>Zipcode: {{user.address.zipcode}}</p>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="users.length === 0">No users found.</p>
